.app{
  max-width: 1297px;
  min-width: 256px;
}
p{
  font-size: 12px;
}
.nav-link{
  color: black;
}
.nav-item img{
  width: 100px;
  height: 50px;
}
.navbar-brand img{
  margin-left: 50px;
  width: 70px;
  height: 35px;
}
.nav-btn{
  margin-right: 50px;
}
.nav-btn:hover{
  background-color: #05502c;
  color:#ffffff
}
.link{
  color: #249e64;
  text-decoration: none;
}
.link:hover{
  color: #023a1f;
  text-decoration: none;
}
.nav-link:hover{
  color: #34d186;
}
.data{
  padding: 50px;
}
.card{
  border-radius: 20px;
  border: none;
}
@media screen  and (min-width: 700px)  {
  .card-text{
    font-size: 10px;
  }
  .card-title{
    font-size: 30px;
  }
}
.card-body{
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
  border-radius: 20px;
  padding: 20px;
}
.side-by-side {
  display: flex;
  flex-direction: row;
}
.select{
  margin-right: 4px;
}
::placeholder{
  font-size: 15px;
}
.card-text{
  font-size: 15px;
}
.card-title{
  font-size: 60px;
}
.row {
  background-color: #4450d5;
  min-height: 100vh;
  align-items: center;
  color: white;
}
.btn{
  background-color: #34d186;
  color: #ffffff;
  font-size: 12px;
}
.btn:hover{
  background-color: #023a1f;
  color:#ffffff;
}

